#about {
      height: auto;
}
#about h1 {
      width: 100%;
      text-align: center;
      font-family: "outfit";
      font-size: 5em;
      color: var(--white);
      text-transform: uppercase;
      text-shadow: 0 0 20px #060606;
}
#about h1 span {
      color: transparent;
      -webkit-text-stroke: 2px var(--purple);
      text-shadow: none;
}
.about {
      width: 90%;
      height: 100vh;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
}
.about .perso {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
}
.perso .biographie {
      width: 50%;
      padding: 15px;
      color: var(--white);
      font-family: "outfit";
      font-size: 22px;
      line-height: 1.4;
      font-weight: lighter;
      text-align: justify;
}
.perso .biographie span {
      color: var(--purple);
}
.perso img {
      width: 400px;
      height: 500px;
      border-radius: 25px;
      object-fit: cover;
      filter: drop-shadow(0 0 20px #060606);
      transform: rotate(-5deg);
}
.separator {
      width: 90%;
      height: 2px;
      border-radius: 50%;
      background: var(--purple);
}

/* Pro section */

.pro {
      height: auto;
      width: 75%;
      padding: 25px 0;
      display: flex;
      align-items: center;
      flex-flow: column nowrap;
}
.firstMission,
.secondMission,
.thirdMission,
.fourthMission {
      position: relative;
      height: 100vh;
      width: 85%;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* border: 1px solid greenyellow; */
}
.pro h2 {
      position: absolute;
      top: 20%;
      transform: translateY(-50%);
      font-family: "outfit";
      font-size: 3em;
      color: var(--white);
      text-transform: uppercase;
      text-shadow: 0 0 10px #060606;
}
.pro h2 span {
      color: transparent;
      -webkit-text-stroke: 2px var(--purple);
      text-shadow: none;
}
.pro h3 {
      position: absolute;
      top: 35%;
      transform: translateY(-75%);
      font-family: "outfit";
      font-size: 2em;
      color: var(--white);
      text-shadow: 0 0 10px #060606;
}
.pro h3 span {
      color: var(--purple);
}
.pro .image {
      width: 100%;
      height: 50vh;
      border-radius: 25px;
      border: 2px solid var(--purple);
      box-shadow: 0 0 20px #060606;
      overflow: hidden;
}
.image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      filter: blur(10px) brightness(0.7);
}
.pro ul {
      color: var(--white);
      font-family: "outfit";
      font-weight: lighter;
      font-size: 20px;
      width: 100%;
      height: 30%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
}
.pro ul span {
      color: var(--purple);
      font-style: italic;
}
