#projects {
      height: 100vh;
}
#projects h1 {
      text-align: center;
      font-family: "outfit";
      font-size: 5em;
      color: var(--white);
      text-transform: uppercase;
      text-shadow: 0 0 20px #060606;
}
#projects h1 span {
      color: transparent;
      -webkit-text-stroke: 2px var(--purple);
      text-shadow: none;
}
